<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Get Token</title>
        <link href="static/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <script id="__bs_script__">//<![CDATA[
            document.write("<script async src='http://HOST:8000/browser-sync/browser-sync-client.2.15.0.js'><\/script>".replace("HOST", location.hostname)); //]]>
        </script>
    </head>

    <body>
        <div class="container">
            </br>
            <form action="/logout/" method="post">{% csrf_token %}
                <button  type="submit" class="btn btn-primary btn-sm" >Logout</button>
            </form>
            </br>
            <form action="." method="post">{% csrf_token %}
                <h1>Lista de usuarios</h1>
                <button  type="submit" class="btn btn-primary btn-sm" >Actualizar</button>
            </form>
            </br>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>First name</th>
                        <th>Email</th>
                        <th>Location</th>
                        <th>PagesLikes</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in userlist %}
                    <tr>
                        <td>{{ user.pk}}</td>
                        <td>{{ user.fb_first_name}}</td>
                        <td>{{ user.fb_email }}</td>
                        <td>{{ user.fb_location.location_name}}</td>
                        <td>
                            {% for page in user.fb_pages_likes.all %}
                                <p>{{page}}</p>
                            {% endfor %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        <div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>URL</th>
                        <th>File name</th>
                        <th>Query type</th>
                        <th>Create at</th>
                    </tr>
                </thead>
                <tbody>
                    {% for snapshot in snapshotlist %}
                    <tr>
                        <td>{{ snapshot.query_url}}</td>
                        <td>{{ snapshot.filename}}</td>
                        <td>{{ snapshot.query_type }}</td>
                        <td>{{ snapshot.created_at}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
    </body>
</html>
